<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.dzombak.periodic-docker-pull</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>Program</key>
	<string>/path/to/_periodic_docker_pull</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.dzombak.periodic-docker-pull.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.dzombak.periodic-docker-pull.stdout</string>
	<key>StartInterval</key>
	<integer>21600</integer>
</dict>
</plist>
